# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-x6e*qoyg!aea+&5=8t7gwd$4xv@1*$xyd#fu#+t8g@m9fn4o(n

# Database Settings
POSTGRES_DB=midnite_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Docker Database Settings (for docker-compose)
DOCKER_POSTGRES_HOST=db
DOCKER_POSTGRES_PORT=5432

# Logging Level
LOG_LEVEL=INFO
